@import url('https://fonts.googleapis.com/css?family=Cousine:400,400i,700,700i&display=swap');
/* font-family: 'Source Sans Pro', sans-serif; */
.bgHome {
  background-image: url('../img/AESTHETIC.jpg');
  background-attachment: fixed;
}
/* .cardItem:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} */

.CousineFont {
  font-family: 'Cousine', monospace;
}
@media screen and (max-width: 640px) {
  .hide-img {
    display: none;
  }
}
.noDecoration,
a:link,
a:visited {
  text-decoration: none;
}
